
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <!-- Css-link -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <!-- Header-start -->
    <header id="header">
        <div class="nav-main">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid p-1">
                    <a class="navbar-brand ms-1" href="#">Studio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active me-1" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-1" asp-area="Manage" asp-controller="Dashboard" asp-action="Index" target="_blank" style="font-size:16px;color:red;">Admin-Panel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-1" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-1" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-1" href="#">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-1" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <!-- Footer-start -->
    <footer id="footer">
        <div class="container">
            <div class="col-md-12 text-center ">
                <div class="social-icons d-flex flex-wrap justify-content-center mt-1">
                    <p class="ico "><i class="fa-brands fa-twitter  mt-3"></i></p>
                    <p class="ico ms-2"><i class="fa-brands fa-facebook ms-3 mt-3"></i></p>
                    <p class="ico ms-2"><i class="fa-brands fa-linkedin-in ms-3 mt-3"></i></p>
                </div>
                <p class="foot-end">Copyright © All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <!-- Bootstrap-JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>